.plugin-gridster.Kinect .front {
  background: #55b5e6 url('images/Kinect.jpeg') center 34px;
  background-size:   135px 130px;
  background-repeat: no-repeat;
}
.plugin-gridster.Kinect .back {
  background: #070000 url('images/Kinect2.ico') center 34px;
  background-size:   130px 75px;
  background-repeat: no-repeat;
}